.grid {
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  /* place-items: stretch center; */
}

.header {
  background-color: #2ecc71;
 
}
.content {
  background-color: #3498db;
 
}
.nav {
  background-color: #8e44ad;

}
.footer {
  background-color: #f39c12;

}
