.father {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

.child:nth-child(2) {
  align-self: center;
}

.child:nth-child(3) {
  align-self: flex-end;
}
